In [1]:
# Code to get the data set for the OBIS workshop

In [2]:
# step 1 URL for Santa Cruz
urlapi='https://ifcb.caloos.org/api/'
url='https://ifcb.caloos.org/santa-cruz-municipal-wharf/'

In [3]:
# should create code to get data based upon feed of URL and site
import xarray as xr
import numpy as np
import pandas as pd
import ifcb_api_access

In [13]:
# Lets get some bin_id's
#bin_ids=ifcb_api_access.get_bins_in_range("2023-07-17","2023-07-18")
bin_ids=ifcb_api_access.get_bins_in_range("2022-07-17","2022-07-18")
print(bin_ids[0:3]) # print limited number of names for an idea

0    uz-municipal-wharf/D20220717T001010_IFCB104
1    uz-municipal-wharf/D20220717T003352_IFCB104
2    uz-municipal-wharf/D20220717T005734_IFCB104
Name: pid, dtype: object

In [14]:
# get the meta data for a bin ID 
# Note need to remove all the values prior to "D"
bin_id=bin_ids[0][19:]
metadatavals=ifcb_api_access.get_ifcb_metadata(bin_ids[0][19:])

In [15]:
len(bin_ids)

41

In [16]:
# Do we have autoclass data for this file
#ib=np.arange(0,len(bin_ids))
ib=np.arange(0,2)
for i in ib:
    bin_id=bin_ids[i][19:]
    test=ifcb_api_access.bin_has_autoclass(bin_id)
    print(test)

True
True

In [17]:
# Not all "bins" have autoclass scores
class_names_file='c:/users/flbahr/class_names_matched_to_WoRMS_cencoos_classifier_20240412.csv'
class_names=pd.read_csv(class_names_file)

In [18]:
target_labels=class_names['Class Name']

In [19]:
bin_id

'D20220717T003352_IFCB104'

In [20]:
# get the api autoclass file for the data
bin_url=url+bin_id+'_class_scores.csv' # defined above
autoclass=pd.read_csv(bin_url)

In [21]:
autoclass.head(3)

,pid,Akashiwo,Alexandrium_singlet,Amy_Gony_Protoc,Asterionellopsis,Bacteriastrum,Centric,Ceratium,Chaetoceros,Ciliates,...,Pyrocystis,Rhiz_Prob,Scrip_Het,Skeletonema,Steph_Melo,Thalassionema,Tropidoneis,Umbilicosphaera,cyst,zooplankton_misc
0,D20220717T003352_IFCB104_00002,0.002615,0.00063,0.000725,0.000001,0.000000e+00,0.000731,4.106000e-04,4.804000e-04,0.000025,...,1.000000e-07,0.003132,0.041200,0.000048,7.000000e-07,0.000041,0.0,6.000000e-08,0.000016,0.000098
1,D20220717T003352_IFCB104_00003,0.000093,0.00004,0.000000,0.000000,6.000000e-08,0.000500,1.000000e-07,6.000000e-08,0.000003,...,0.000000e+00,0.000002,0.000028,0.000013,0.000000e+00,0.000000,0.0,0.000000e+00,0.000000,0.000000
2,D20220717T003352_IFCB104_00004,0.000093,0.00004,0.000000,0.000000,6.000000e-08,0.000500,1.000000e-07,6.000000e-08,0.000003,...,0.000000e+00,0.000002,0.000028,0.000013,0.000000e+00,0.000000,0.0,0.000000e+00,0.000000,0.000000

In [22]:
details=ifcb_api_access.get_bin_details(bin_id)

In [23]:
# Now have metadata values and details
# metadatavals and details
# autoclass for the bin
# bin_id="D20230717T003329_IFCB104"

In [24]:
# get the features file
feature_filename=bin_id+'_features.csv'
features=pd.read_csv(url+feature_filename)

In [25]:
features.head(3)

,roi_number,Area,B180,B90,Bflip,Biovolume,BoundingBox_xwidth,BoundingBox_ywidth,ConvexArea,ConvexPerimeter,...,HOG79,HOG80,HOG81,Area_over_PerimeterSquared,Area_over_Perimeter,H90_over_Hflip,H90_over_H180,Hflip_over_H180,summedConvexPerimeter_over_Perimeter,rotated_BoundingBox_solidity
0,2,2676,0.863331,0.397685,0.897685,191694.485935,130,37,3082.350114,277.700228,...,0.337436,0.406531,0.193203,0.031121,9.125706,10.755076,7.746816,0.720294,0.947014,0.567854
1,3,2403,0.829975,0.578086,0.829135,114320.069570,71,54,2667.940794,194.881588,...,0.207272,0.165328,0.393436,0.054456,11.439261,2.326729,2.323788,0.998736,0.927716,0.699765
2,4,2843,0.857043,0.799789,0.905515,127922.642161,70,57,3235.268640,207.537280,...,0.235066,0.163531,0.369952,0.054940,12.497789,2.715014,1.564836,0.576364,0.912331,0.726276

In [26]:
xf=features['roi_number']==33
features[xf]

,roi_number,Area,B180,B90,Bflip,Biovolume,BoundingBox_xwidth,BoundingBox_ywidth,ConvexArea,ConvexPerimeter,...,HOG79,HOG80,HOG81,Area_over_PerimeterSquared,Area_over_Perimeter,H90_over_Hflip,H90_over_H180,Hflip_over_H180,summedConvexPerimeter_over_Perimeter,rotated_BoundingBox_solidity
30,33,3152,0.847764,0.31589,0.871551,243656.166626,141,41,3748.580936,298.161873,...,0.22437,0.232888,0.291908,0.027489,9.308304,8.415033,6.67646,0.793397,0.880514,0.545407

In [27]:
# okay now we have most of the pieces 
# start to construct the tables?
# don't know if the random bin id I picked has the species we are looking for above the threshold

In [28]:
# need to load the class threshold file also
threshold=pd.read_csv('c:/users/flbahr/class_thresholds_cencoos_classifier_20240412.csv')

In [29]:
# files that are unique to the deployments are the class name file and the threshold file
# these can NOT be extracted from the api as far as we know

In [30]:
threshold.head(3)

            Class Name  Threshold
0             Akashiwo       0.95
1  Alexandrium_singlet       0.49
2      Amy_Gony_Protoc       0.35

In [31]:
class_names.head(3)

,Class Name,Class ID,Common Name,AphiaID,URN,Grouping,HAB,Description,Manual Classifier Notes,Example Images
0,Akashiwo,0,Akashiwo sanguinea,232546.0,urn:lsid:marinespecies.org:taxname:232546,Dinoflagellate,Y,"Monophyletic, marine dinoflagellate","large single cells, kidney-shaped when viewed ...",NaN
1,Alexandrium_singlet,1,Alexandium sp.,109470.0,urn:lsid:marinespecies.org:taxname:109470,Dinoflagellate,Y,A. catenella and others,"Originally class was broken out for singles, d...",http://akashiwo.oceandatacenter.ucsc.edu:8000/...
2,Amy_Gony_Protoc,2,"Amylax, Gonyaulax or Protoceratium",109428.0,urn:lsid:marinespecies.org:taxname:109428,Dinoflagellate,Y,Descision was made not to distinguish between ...,“Feet” and points visible.,NaN

In [32]:
# okay we 
[nr,nc]=class_names.shape

In [159]:
#pi=0
#cnid=class_names['Class Name'][pi]
#myaid=int(class_names['AphiaID'][pi])
#wmentry=pyworms.aphiaRecordByAphiaID(myaid)     
#mywp=pd.DataFrame([wmentry])
#bool=mywp['status']=='accepted'
#newdf=mywp[["AphiaID","scientificname","lsid","rank","kingdom"]]
#print(newdf.shape)
##newdf['AphiaID']=newdf['AphiaID'].apply(str)
#odict={"Class Name":cnid}
#odf=pd.DataFrame.from_dict([odict])
#newdf.insert(5,"Class Name",cnid,True)
#test=newdf.merge(odf,left_on='AphiaID',right_on='Class Name')
#test=pd.concat([newdf,odf.reset_index(drop=True,inplace=True)],axis=0)

(1, 5)

In [160]:
#newdf

,AphiaID,scientificname,lsid,rank,kingdom,Class Name
0,232546,Akashiwo sanguinea,urn:lsid:marinespecies.org:taxname:232546,Species,Chromista,Akashiwo

In [163]:
import pyworms
# run through AphiaID to get scientific name, rank, kingdom
nlooks=np.arange(0,nr)
#nlooks=np.arange(0,1)
for pi in nlooks:
    cnid=class_names['Class Name'][pi]
    #print(cnid)
    try:
        myaid=int(class_names['AphiaID'][pi])
        wmentry=pyworms.aphiaRecordByAphiaID(myaid)
        mywp=pd.DataFrame([wmentry])
        bool=mywp['status']=='accepted'
        if bool[0]:
            #cnid=class_names['Class Name'][pi]
            #print(cnid)
            newdf=mywp[["AphiaID","scientificname","lsid","rank","kingdom"]]
            #print(newdf)
            [n,m]=newdf.shape
            #pdb.set_trace()
            if pi==0:
                newdf.insert(5,"Class Name",cnid,True)
                wormsdf=newdf
                #wormsdf=pd.concat([newdf,class_names['Class Name'][pi]])
            else:
                newdf.insert(5,"Class Name",cnid,True)
                #tmp=pd.concat([newdf,class_names['Class Name'][pi]])
                #wormsdf=pd.concat([wormsdf,tmp])
                wormsdf=pd.concat([wormsdf,newdf])
        else:
            print("The record found is not \"accepted\"")
    except:
        print("Found NaN at "+str(pi))

Found NaN at 51

In [165]:
wormsdf.head(3)

,AphiaID,scientificname,lsid,rank,kingdom,Class Name
0,232546,Akashiwo sanguinea,urn:lsid:marinespecies.org:taxname:232546,Species,Chromista,Akashiwo
0,109470,Alexandrium,urn:lsid:marinespecies.org:taxname:109470,Genus,Chromista,Alexandrium_singlet
0,109428,Gonyaulacaceae,urn:lsid:marinespecies.org:taxname:109428,Family,Chromista,Amy_Gony_Protoc

In [34]:
class_names.loc[51]

Class Name                                                      unclassified
Class ID                                                                  51
Common Name                                                     Unclassified
AphiaID                                                                  NaN
URN                                      urn:lsid:marinespecies.org:taxname:
Grouping                                                               Other
HAB                                                                      NaN
Description                Classification lacked confidence to asssign a ...
Manual Classifier Notes                                                  NaN
Example Images                                                           NaN
Name: 51, dtype: object

In [36]:
# okay we have the class name but not the intended_worms_taxon
# do I need intended_worms_taxon?  We have the AphialID for the class from another file
a2=autoclass
a2=a2.set_index(['pid'],append=False)
a2.index.name=None

In [37]:
a3=a2.stack(future_stack=True)

In [38]:
ik=np.arange(0,len(a3))
for r in ik:
    junk=str(a3[r:r+1]).split()
    if r==0:
        pid=[junk[0]]
        myclass=[junk[1]]
        score=[float(junk[2])]
    else:
        pid.append(junk[0])
        myclass.append(junk[1])
        score.append(float(junk[2]))

In [39]:
bigtable=pd.DataFrame({'pid':pid,'class':myclass,'score':score})

In [40]:
[l1,l2]=threshold.shape

In [41]:
ix=np.arange(0,l1)
zz=0
for kk in ix:
    id1=bigtable['class']==threshold['Class Name'][kk]
    subtable=bigtable[['pid','class','score']][id1]
    id2=subtable['score'] >= threshold['Threshold'][kk]
    smalltable=subtable[['pid','class','score']][id2]
    if smalltable.size > 0:
        if zz==0:
            classtable=smalltable
            zz=zz+1
        else:
            classtable=pd.concat([classtable, smalltable],ignore_index=True)
            #classtable.append(smalltable)

In [42]:
classtable.head(3)

                              pid    class   score
0  D20220717T003352_IFCB104_00463  Centric  0.9434
1  D20220717T003352_IFCB104_00532  Centric  0.9575
2  D20220717T003352_IFCB104_00533  Centric  0.8643

In [45]:
pidsbyclass=classtable['class']=='Centric'

In [46]:
mytest=classtable[pidsbyclass]
mytest['pid']

0    D20220717T003352_IFCB104_00463
1    D20220717T003352_IFCB104_00532
2    D20220717T003352_IFCB104_00533
3    D20220717T003352_IFCB104_00789
4    D20220717T003352_IFCB104_00948
Name: pid, dtype: object

In [47]:
print(bin_id)
pids=mytest['pid'].str.replace(bin_id+'_','')

D20220717T003352_IFCB104

In [48]:
pids # these are the ROIS

0    00463
1    00532
2    00533
3    00789
4    00948
Name: pid, dtype: object

In [ ]:
# need to strip the first part off

In [49]:
summarytable=classtable.groupby('class').count()

In [50]:
#summarytable.rename(columns={'score':'occurrences'})
summarytable=summarytable.rename(columns={'score':'occurrences'}).drop('pid',axis=1)

In [51]:
summarytable.head(3)

              occurrences
class
Centric                 5
Gymnodinium            15
NanoP_less10          829

In [203]:
# find class in class name
x=wormsdf['Class Name'].reset_index()

In [220]:
print(summarytable.index[0])
print(x['Class Name'][5])
z=x['Class Name'][:]==summarytable.index[0]

Centric
Centric

In [234]:
tr=np.where(z)
kk=wormsdf.iloc[tr[0][0]]

In [235]:
kk['scientificname']

'Biddulphiales'

In [ ]:
# missing occurrence to add 0's
# skip this for now

In [52]:
# I think this is the class table above?
details

{'bin_id': 'D20220717T003352_IFCB104',
 'scale': 0.33,
 'shape': [600, 800],
 'previous_bin_id': 'D20220717T001010_IFCB104',
 'next_bin_id': 'D20220717T005734_IFCB104',
 'lat': 36.961491,
 'lng': -122.021868,
 'lat_rounded': '36.96149',
 'lng_rounded': '-122.02187',
 'depth': 0,
 'pages': [0, 1],
 'num_pages': 1,
 'tags': [],
 'coordinates': [],
 'has_blobs': False,
 'has_features': False,
 'has_class_scores': False,
 'timestamp_iso': '2022-07-17T00:33:52+00:00',
 'instrument': 'IFCB104',
 'num_triggers': 1161,
 'num_images': 1132,
 'trigger_freq': 0.967,
 'ml_analyzed': '4.626 ml',
 'size': 13220872,
 'datasets': ['santa-cruz-municipal-wharf'],
 'primary_dataset': 'santa-cruz-municipal-wharf',
 'comments': [],
 'concentration': 244.686,
 'skip': False,
 'sample_type': '',
 'cruise': '',
 'cast': '',
 'niskin': None}

In [123]:
features

,roi_number,Area,B180,B90,Bflip,Biovolume,BoundingBox_xwidth,BoundingBox_ywidth,ConvexArea,ConvexPerimeter,...,HOG79,HOG80,HOG81,Area_over_PerimeterSquared,Area_over_Perimeter,H90_over_Hflip,H90_over_H180,Hflip_over_H180,summedConvexPerimeter_over_Perimeter,rotated_BoundingBox_solidity
0,2,2676,0.863331,0.397685,0.897685,191694.485935,130,37,3082.350114,277.700228,...,0.337436,0.406531,0.193203,0.031121,9.125706,10.755076,7.746816,0.720294,0.947014,0.567854
1,3,2403,0.829975,0.578086,0.829135,114320.069570,71,54,2667.940794,194.881588,...,0.207272,0.165328,0.393436,0.054456,11.439261,2.326729,2.323788,0.998736,0.927716,0.699765
2,4,2843,0.857043,0.799789,0.905515,127922.642161,70,57,3235.268640,207.537280,...,0.235066,0.163531,0.369952,0.054940,12.497789,2.715014,1.564836,0.576364,0.912331,0.726276
3,6,2705,0.951571,0.849538,0.958965,118622.218910,66,55,2854.669899,190.339798,...,0.241935,0.197031,0.421140,0.065423,13.302967,3.620668,3.387423,0.935579,0.936075,0.747651
4,7,2030,0.837771,0.813116,0.890039,76106.521930,55,64,2512.790685,192.581370,...,0.132838,0.201906,0.459938,0.044558,9.510660,2.078674,1.228597,0.591048,0.902254,0.640152
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1127,1157,2459,0.899228,0.833807,0.904104,102465.007892,65,54,2632.889164,185.778329,...,0.190461,0.364328,0.401920,0.062967,12.443307,1.852163,1.711890,0.924266,0.940096,0.690516
1128,1158,1437,0.926931,0.851079,0.954767,45820.652451,40,46,1487.330475,136.660950,...,0.126895,0.152388,0.396060,0.070458,10.062237,3.092643,2.067214,0.668430,0.956935,0.751962
1129,1159,1141,0.891228,0.903509,0.884211,29188.144645,41,40,1298.114162,127.228323,...,0.156986,0.245830,0.424026,0.060166,8.285487,0.919459,0.889441,0.967353,0.923881,0.712500
1130,1160,3174,0.925891,0.908862,0.931567,140837.205961,63,69,3338.457847,204.915694,...,0.176595,0.251542,0.540788,0.065744,14.445469,1.390568,1.244104,0.894673,0.932610,0.729469
1131,1161,3322,0.941902,0.853101,0.919627,157876.680916,76,65,3575.611775,214.223550,...,0.268111,0.279260,0.442287,0.060936,14.227814,1.806249,2.367364,1.310652,0.917499,0.672470

In [57]:
# create event table
# want to create this as a module which we pass information to but for now mostly static...
## event table
# datasetName="santa-cruz-municipal-wharf"
# eventID=bin_id
# eventDate=details['timestamp_iso'] # need to truncate to just the date
# decimalLongitude=details['lng']
# decimalLatitude=details['lat']
# countryCode='US'
# geodeticDatum='WGS84'
# minimumDepthInMeters=
# maximumDepthInMeters=
# sampleSizeValue=details['ml_analyzed']
# sampleSizeUnit='milliliter'
eventdict={'datasetName':'santa-cruz-municipal-wharf',
           'eventID':bin_id,
           'eventDate':details['timestamp_iso'],
           'institutionCode':'UCSC',
           'decimalLongitude':details['lng'],
           'decimalLatitude':details['lat'],
           'countryCode':'US',
           'geodeticDatum':'WGS84',
           'minimumDepthInMeters':1,
           'maximumDepthInMeters':3,
           'sampleSizeValue':details['ml_analyzed'], # need to remove the ml from the name
           'sampleSizeUnit':'milliliter'}
eventdf=pd.DataFrame.from_dict([eventdict])

In [58]:
eventdf

,datasetName,eventID,eventDate,institutionCode,decimalLongitude,decimalLatitude,countryCode,geodeticDatum,minimumDepthInMeters,maximumDepthInMeters,sampleSizeValue,sampleSizeUnit
0,santa-cruz-municipal-wharf,D20220717T003352_IFCB104,2022-07-17T00:33:52+00:00,UCSC,-122.021868,36.961491,US,WGS84,1m below MLLW,1m below MLLW,4.626 ml,milliliter

In [236]:
zc=classtable['class']==summarytable.index[0]

In [238]:
ci=np.where(zc)

In [243]:
classtable['class'][ci[0][:]]

0    Centric
1    Centric
2    Centric
3    Centric
4    Centric
Name: class, dtype: object

In [269]:
# 
# size of summary table
#
ls=len(summarytable)
xworms=wormsdf['Class Name'].reset_index()
# need to find classtable to match class name
# note this doesn't create a table/dataframe but needs to be adjusted as we have one to many needs to fill in columns
#for s in np.arange(0,1):
for s in np.arange(0,ls):
    eventID=details["bin_id"]
    z=xworms['Class Name'][:]==summarytable.index[s]
    zi=np.where(z)
    iz=wormsdf.iloc[zi[0][0]]
    scientificName=iz['scientificname']
    scientificID=iz['lsid']
    taxonRank=iz['rank']
    kingdom=iz['kingdom']
    zc=classtable['class']==summarytable.index[s] # find the class names
    basisOfRecord='MachineObservation'
    occurrenceStatus='Present' # need to deal with adding zeros for absent values but for now this is that case
    verbatimIdentification=classtable['class'][ci[0][0]]
    identifiedBy=''
    identificationVerificationStatus='PredictedByMachine'
    identificationReferences="Trained machine learning model: Daniel, P. (2023-02) phytoClassUCSC - A phytoplankton classifier for IFCB data. Version 1.0. Hugging Face repository. https://huggingface.co/patcdaniel/phytoClassUCSC | Software to run the trained machine learning model: Sosik, H., J. Futrelle, E. Peacock,  T. Golden, J. Lopez (2023-11-13) ifcb-analysis. GitHub repository. https://github.com/tsgolden/ifcb-analysis/commit/9e228c9f616edd85b57aefc0792125ec92f20e31 forked from https://github.com/yosoyjay/ifcb-analysis forked from https://github.com/hsosik/ifcb-analysis | Software to interpret autoclass scores: https://github.com/CeNCOOS/OBIS_workshop_2024_IFCB [Add which script or function] | Input parameters to interpret autoclass scores: https://github.com/CeNCOOS/OBIS_workshop_2024_IFCB/blob/main/class_thresholds_cencoos_classifier_20240412.csv"
    
    ci=np.where(zc) # get the index of these name
    lci=len(ci[0])
    # This is not ideal but it works
    for t in np.arange(0,lci):
        if t==0:
            evid=[]
            evid.append(eventID)
            scnm=[]
            scnm.append(scientificName)
            scid=[]
            scid.append(scientificID)
            txr=[]
            txr.append(taxonRank)
            kg=[]
            kg.append(kingdom)
            br=[]
            br.append(basisOfRecord)
            ocs=[]
            ocs.append(occurrenceStatus)
            vbi=[]
            vbi.append(verbatimIdentification)
            ibi=[]
            ibi.append('')
            ivs=[]
            ivs.append(identificationVerificationStatus)
            idr=[]
            idr.append(identificationReferences)
        else:
            evid.append(eventID)
            scnm.append(scientificName)
            scid.append(scientificID)
            txr.append(taxonRank)
            kg.append(kingdom)
            br.append(basisOfRecord)
            ocs.append(occurrenceStatus)
            vbi.append(verbatimIdentification)
            ibi.append('')
            ivs.append(identificationVerificationStatus)
            idr.append(identificationReferences)           
    occurrenceID=classtable['pid'][ci[0][:]]
    tmpdict={'eventID':evid,'occurrenceID':occurrenceID,'scientificName':scnm,'scienfificID':scid,'taxonRank':txr,
            'kingdom':kg,'basiOfRecord':br,'OccurrenceStatus':ocs,'verbatimIdentification':vbi,'identifiedBy':ibi,'identificationVerificationStatus':ivs,
            'identificationReferences':idr}
    occframe=pd.DataFrame.from_dict(tmpdict)
    if s==0:
        occurrencedf=occframe
    else:
        occurrencedf=pd.concat([occurrencedf,occframe])
#    verbatimIdentification=classtable['class'][ci[0][0]]
#    identifiedBy=''
#    identificationVerificationStatus='PredictedByMachine'
#    identificationReferences="Trained machine learning model: Daniel, P. (2023-02) phytoClassUCSC - A phytoplankton classifier for IFCB data. Version 1.0. Hugging Face repository. https://huggingface.co/patcdaniel/phytoClassUCSC | Software to run the trained machine learning model: Sosik, H., J. Futrelle, E. Peacock,  T. Golden, J. Lopez (2023-11-13) ifcb-analysis. GitHub repository. https://github.com/tsgolden/ifcb-analysis/commit/9e228c9f616edd85b57aefc0792125ec92f20e31 forked from https://github.com/yosoyjay/ifcb-analysis forked from https://github.com/hsosik/ifcb-analysis | Software to interpret autoclass scores: https://github.com/CeNCOOS/OBIS_workshop_2024_IFCB [Add which script or function] | Input parameters to interpret autoclass scores: https://github.com/CeNCOOS/OBIS_workshop_2024_IFCB/blob/main/class_thresholds_cencoos_classifier_20240412.csv"
    
    
    # find class 
# see about table elements occurrence table
#eventID=details["bin_id"]
#occurrenceID=classtable["pid"]
#basisOfRecord="MachineObservation"
#identifiedBy=""
#identificationVerificationStatus="PredictedByMachine"
#identificationReferences="Trained machine learning model: Daniel, P. (2023-02) phytoClassUCSC - A phytoplankton classifier for IFCB data. Version 1.0. Hugging Face repository. https://huggingface.co/patcdaniel/phytoClassUCSC | Software to run the trained machine learning model: Sosik, H., J. Futrelle, E. Peacock,  T. Golden, J. Lopez (2023-11-13) ifcb-analysis. GitHub repository. https://github.com/tsgolden/ifcb-analysis/commit/9e228c9f616edd85b57aefc0792125ec92f20e31 forked from https://github.com/yosoyjay/ifcb-analysis forked from https://github.com/hsosik/ifcb-analysis | Software to interpret autoclass scores: https://github.com/CeNCOOS/OBIS_workshop_2024_IFCB [Add which script or function] | Input parameters to interpret autoclass scores: https://github.com/CeNCOOS/OBIS_workshop_2024_IFCB/blob/main/class_thresholds_cencoos_classifier_20240412.csv"
#identificationRemarks="Arbitrary threshold used for both presence and absence without testing for false positives."
#associatedMedia='https://ifcb.caloos.org/image?dataset=santa-cruz-municipal-wharf&bin=bin_id&image=XXXX
#verbatimIdentification
#scientificName=wormsdf['scientificname'] # need to match up with
#scientificID=wormsdf['lsid']
#taxonRank=wormsdf['rank']
#kingdom=wormdf['kingdom'] # but needs to be matched to id
#occurrenceStatus present/absent
#organismQuantity=summarytable['occurrences']./mlanalyzed
#organismQuantityType='counts per milliliter'
#institutionCode
# Let's make this for the moment but realize we need to fix since it isn't what we exactly want
#
#occurrencedict={'eventID':bin_id,
#                'occurrenceID':classtable["pid"],
#                'basisOfRecord':'MachineObservation',
#                'occurrenceStatus':'',
#                'scientificName':wormsdf['scientificname']
                
# this does not create the type of table/dictionary that I want...
#occurrencedf=pd.DataFrame.from_dict([occurrencedict])

In [270]:
occurrencedf

,eventID,occurrenceID,scientificName,scienfificID,taxonRank,kingdom,basiOfRecord,OccurrenceStatus,verbatimIdentification,identifiedBy,identificationVerificationStatus,identificationReferences
0,D20220717T003352_IFCB104,D20220717T003352_IFCB104_00463,Biddulphiales,urn:lsid:marinespecies.org:taxname:148965,Order,Chromista,MachineObservation,Present,Centric,,PredictedByMachine,"Trained machine learning model: Daniel, P. (20..."
1,D20220717T003352_IFCB104,D20220717T003352_IFCB104_00532,Biddulphiales,urn:lsid:marinespecies.org:taxname:148965,Order,Chromista,MachineObservation,Present,Centric,,PredictedByMachine,"Trained machine learning model: Daniel, P. (20..."
2,D20220717T003352_IFCB104,D20220717T003352_IFCB104_00533,Biddulphiales,urn:lsid:marinespecies.org:taxname:148965,Order,Chromista,MachineObservation,Present,Centric,,PredictedByMachine,"Trained machine learning model: Daniel, P. (20..."
3,D20220717T003352_IFCB104,D20220717T003352_IFCB104_00789,Biddulphiales,urn:lsid:marinespecies.org:taxname:148965,Order,Chromista,MachineObservation,Present,Centric,,PredictedByMachine,"Trained machine learning model: Daniel, P. (20..."
4,D20220717T003352_IFCB104,D20220717T003352_IFCB104_00948,Biddulphiales,urn:lsid:marinespecies.org:taxname:148965,Order,Chromista,MachineObservation,Present,Centric,,PredictedByMachine,"Trained machine learning model: Daniel, P. (20..."
...,...,...,...,...,...,...,...,...,...,...,...,...
995,D20220717T003352_IFCB104,D20220717T003352_IFCB104_01155,Prorocentrum,urn:lsid:marinespecies.org:taxname:109566,Genus,Chromista,MachineObservation,Present,NanoP_less10,,PredictedByMachine,"Trained machine learning model: Daniel, P. (20..."
996,D20220717T003352_IFCB104,D20220717T003352_IFCB104_00287,Peridiniales,urn:lsid:marinespecies.org:taxname:109394,Order,Chromista,MachineObservation,Present,Prorocentrum,,PredictedByMachine,"Trained machine learning model: Daniel, P. (20..."
997,D20220717T003352_IFCB104,D20220717T003352_IFCB104_00495,Peridiniales,urn:lsid:marinespecies.org:taxname:109394,Order,Chromista,MachineObservation,Present,Prorocentrum,,PredictedByMachine,"Trained machine learning model: Daniel, P. (20..."
998,D20220717T003352_IFCB104,D20220717T003352_IFCB104_00527,Peridiniales,urn:lsid:marinespecies.org:taxname:109394,Order,Chromista,MachineObservation,Present,Prorocentrum,,PredictedByMachine,"Trained machine learning model: Daniel, P. (20..."
999,D20220717T003352_IFCB104,D20220717T003352_IFCB104_00557,Peridiniales,urn:lsid:marinespecies.org:taxname:109394,Order,Chromista,MachineObservation,Present,Prorocentrum,,PredictedByMachine,"Trained machine learning model: Daniel, P. (20..."

In [258]:
evid=[]
evid.append(eventID)
evid.append(eventID)

In [259]:
evid

['D20220717T003352_IFCB104', 'D20220717T003352_IFCB104']

In [ ]:
# EMoF table
# eventID
# measurementType
# measurementTypeID
# measurementValue
# occurrenceID
# measurementValueID
# measurementUnit
# measurementUnitID
# measurementID
           'sampleSizeValue':details['ml_analyzed'], # need to remove the ml from the name
           'sampleSizeUnit':'milliliter'}